* {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.nav {
    background-color: rgb(140, 140, 140);
    color: rgb(255, 255, 255);
    height: auto;
    font-size: larger;
    text-align: center;
}

nav ul :hover {
    color: rgb(75, 143, 196);
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: white;

}

main {}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex1 {
    order: 1;
    flex: 1 1 7em;
    display: block;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.bovenkant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 6px;
}

.filipijnen {
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 100px;
}

.productfotos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.blokinfo {
    border-color: rgb(0, 0, 0);
    border: 3px;
    border-style: solid;
    background-color: white;
}

.fotovaneten {
    height: 350px;
    width: 400px
}

.footer {
    height: 100%;
    background-color: black;
    color: white;
    list-style-type: none;
    width: 100%;
    display: flex;
}

.footernaam{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px;
    margin-top: 50px;
}

.fotofooter {
    display: flex;
    justify-content: right;
}