* {
    margin: 0;
    padding: 0;
}

main {
    width: 400px;
    margin-left: 560px;

}

.nav {
    background-color: rgb(140, 140, 140);
    color: rgb(255, 255, 255);
    height: auto;
    font-size: larger;
    text-align: center;
}

nav ul :hover {
    color: rgb(75, 143, 196);
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: white;

}

main {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex1 {
    order: 1;
    flex: 1 1 7em;
    display: block;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.bovenkant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 6px;
}

.filipijnen {
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 100px;
}

.blokinfo {
    border: 10px;
    border-style: solid;
    background-color: white;
    border-color: rgb(0, 0, 0);


}

.fotovaneten {
    height: 250px;
    width: 300px
}

.footer {
    height: 100px;
    background-color: black;
    color: white;
}